@use "sass:math";

#download-box-row {
    margin: 0;
}

$border-primary: #1F3E7C;
$border-secondary: #18E7E7;

$primary-border-width: 4px;

$arrow-holder-padding: 35px;

$arrow-border-middle-offset: 40px;
$arrow-middle-offset: $arrow-border-middle-offset + 10px;
$arrow-border-cross-offset: -35px;
$arrow-cross-offset: $arrow-border-cross-offset + 10px;

$arrow-border-side-length: 30px;
$arrow-border-height: 52px;
$arrow-side-length: 20px;
$arrow-height: 36px;

$larger-triangle-middle: calc(50% - #{$arrow-border-middle-offset});
$smaller-triangle-middle: calc(50% - #{math.div($arrow-middle-offset, 2) + 5});

$transition-details: transform 1s, top 1s, bottom 1s, left 1s, right 1s;

$transform-origin-offset: 10px;

$transform-larger-triangle-a: 50%;
$transform-larger-triangle-b: calc(50% - #{$transform-origin-offset});

$transform-smaller-triangle-a: 50%;
$transform-smaller-triangle-b: calc(50% + 5px / 2 - #{$transform-origin-offset});

$z-top: 1;
$z-bottom: 0;

.info-box {
    min-height: 200px;
}

/* a nice look for larger screens */
@media (min-width: 768px) {
    .row > .border-stuff {
        &:not(:last-child) {
            padding-right: $arrow-holder-padding;
            border-right: $primary-border-width solid $border-primary;
        }

        &:not(:first-child) {
            padding-left: $arrow-holder-padding;
        }

        /* Arrows are fun! */
        &:not(:last-child) {
            & > .arrow-box {
                & .before-arrow {
                    content: ' ';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: $larger-triangle-middle;
                    right: $arrow-border-cross-offset;
                    border: {
                        style: solid;
                        width: $arrow-border-side-length 0 $arrow-border-side-length $arrow-border-height;
                        color: transparent transparent transparent $border-primary;
                    }
                    transform-origin: $transform-larger-triangle-b $transform-larger-triangle-a;
                }

                & .after-arrow {
                    content: ' ';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: $smaller-triangle-middle;
                    right: $arrow-cross-offset;
                    border: {
                        style: solid;
                        width: $arrow-side-length 0 $arrow-side-length $arrow-height;
                        color: transparent transparent transparent $border-secondary;
                    }
                    transform-origin: $transform-smaller-triangle-b $transform-smaller-triangle-a;
                }
            }
        }
    }
}

/* similar look for phones, but going down */
@media (max-width: 768px) {
    .row > .border-stuff {
        &:not(:last-child) {
            padding-bottom: $arrow-holder-padding;
            border-bottom: $primary-border-width solid $border-primary;
        }

        &:not(:first-child) {
            padding-top: $arrow-holder-padding;
        }

        /* Arrows are fun! */
        &:not(:last-child) {
            & > .arrow-box {
                & .before-arrow {
                    content: ' ';
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: $larger-triangle-middle;
                    bottom: $arrow-border-cross-offset;
                    border: {
                        style: solid;
                        width: $arrow-border-height $arrow-border-side-length 0 $arrow-border-side-length;
                        color: $border-primary transparent transparent transparent;
                    }
                    transform-origin: $transform-larger-triangle-a $transform-larger-triangle-b;
                }

                & .after-arrow {
                    content: ' ';
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: $smaller-triangle-middle;
                    bottom: $arrow-cross-offset;
                    border: {
                        style: solid;
                        width: $arrow-height $arrow-side-length 0 $arrow-side-length;
                        color: $border-secondary transparent transparent transparent;
                    }
                    transform-origin: $transform-smaller-triangle-a $transform-smaller-triangle-b;
                }
            }
        }
    }
}

pre {
    text-align: left;
}
